
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(27, 128, 182);
  font-size: 14pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
  align-content: center;

}

.tickerData {
  color: rgb(200, 119, 13);
  color-scheme: rgb(27, 128, 182);
  font-size: 14pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  padding-top: auto;
  padding-bottom: auto;
}


.tickerDataInput{
  color:  rgb(27, 128, 182);;

  font-size: 12pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;
}
.graphLabels {
  color: rgb(200, 119, 13);
  color-scheme: rgb(27, 128, 182);
  font-size: 17pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bold;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  padding-top: auto;
  padding-bottom: 5%;
}



.button {
  color: rgb(200, 119, 13);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.graph {
  color: rgb(27, 128, 182);
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:normal;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}


.heading {
  color: rgb(27, 128, 182);
  font-size: 65pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:150;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(27, 128, 182);
  font-size: 14pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.buttonName {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(27, 128, 182);
  margin: 0 auto;
  text-align: center;
}

